#cart {
  flex-basis: 33.3dvw;
}

.cart-item {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.cart-item img {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
}

@media (max-width: 768px) {
}
